@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://cdn.syncfusion.com/ej2/tailwind.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* CUSTOM STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #32164a;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

.bezier-nav2 {
  animation: bezz2 0.8s forwards ease-in-out;
}

@keyframes bezz2 {
  0% {
    width: 70px;
  }
  99% {
    width: 250px;
  }
  100% {
    width: 250px;
  }
}

.bezier-nav1 {
  animation: bezz1 2s forwards ease-in-out;
}

@keyframes bezz1 {
  0% {
    width: 250px;
  }
  50% {
    width: 150px;
  }
  100% {
    width: 70px;
  }
}

/* SHEDULER */

.e-schedule .e-month-view .e-appointment {
  background: #9ca3af;
  border: 1px solid #e5e7eb;
  border-radius: 2px;
  color: #000;
  cursor: default;
  display: flex;
  height: 26px;
  overflow: hidden;
  position: absolute;
}

/* .schedule {
  @apply rounded border-[#becad3] shadow-md;
}

.e-schedule .e-schedule-toolbar .e-toolbar-items {
  @apply bg-[#becad3];
}
.e-toolbar .e-hor-nav {
  background: #becad3;
  border: solid #becad3;
  border-width: 0 0 0 1px;
}
.e-toolbar.e-toolpop .e-hor-nav.e-nav-active,
.e-toolbar.e-toolpop .e-hor-nav.e-nav-active:not(.e-expended-nav) {
  background: #becad3;
  border: 1;
  box-shadow: none;
  border-left: 0 #4b5563 #becad3;
}

.e-toolbar .e-toolbar-pop {
  @apply rounded border bg-[#becad3];
}
.e-toolbar .e-tbar-btn {
  background: #becad3;
  box-shadow: none;
}
.e-schedule .e-month-view .e-date-header-wrap table td,
.e-schedule .e-month-agenda-view .e-date-header-wrap table td {
  background-color: #6b3e9280;
  border-color: #4b5563;
  border-style: solid;
  border-width: 0 0 1px 1px;
  color: #d1d5db;
  text-align: left;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.e-schedule .e-month-view .e-work-days,
.e-schedule .e-month-agenda-view .e-work-days {
  background-color: #32164a;
}

.e-schedule .e-month-view .e-work-cells,
.e-schedule .e-month-agenda-view .e-work-cells {
  background-color: #32164a;
  border-color: #4b5563;
  border-style: solid;
  border-width: 0 0 1px 1px;
  color: #fff;
  padding: 0;
}

.e-schedule .e-vertical-view .e-date-header-wrap table tbody td {
  background-color: #6b3e9280;
  border-color: #4b5563;
  border-style: solid;
  border-width: 0 0 1px 1px;
  color: #d1d5db;
  text-align: left;
}
.e-schedule .e-vertical-view .e-work-cells {
  background-color: #32164a;
  border-color: #4b5563;
  border-style: solid;
  border-width: 0 0 1px 1px;
  padding: 0;
}

.e-schedule .e-vertical-view .e-time-cells-wrap table td {
  border-color: #4b5563;
  border-style: solid;
  border-width: 0 1px 1px 0;
  color: #9ca3af;
  background-color: #6b3e9280;
}

.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td {
  background-color: #6b3e9280;
  border-color: #4b5563;
  border-style: solid;
  border-width: 0 1px 1px 0;
  color: #d1d5db;
}
.e-calendar .e-content.e-year table,
.e-calendar .e-content.e-decade table,
.e-bigger.e-small .e-calendar .e-content.e-year table,
.e-bigger.e-small .e-calendar .e-content.e-decade table {
  border-spacing: 0;
  padding: 0 8px 8px 8px;
  background-color: #32164a;
}
.e-calendar .e-header,
.e-bigger.e-small .e-calendar .e-header {
  border-bottom: 0;
  background-color: #32164a;
}
.e-calendar .e-footer-container,
.e-bigger.e-small .e-calendar .e-footer-container {
  background-color: #6b3e9280;
  border-top: none;
  cursor: default;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 8px 8px;
  text-align: center;
  width: 100%;
}

.e-schedule .e-schedule-table {
  border: 0 none;
  background-color: #6b3e9280;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  table-layout: fixed;
  width: 100%;
}
.e-schedule .e-agenda-view {
  background-color: #0e1922;
}
.e-calendar .e-content table,
.e-bigger.e-small .e-calendar .e-content table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0;
  background-color: #32164a;
  float: left;
  margin: 0;
  outline: 0;
  padding: 0 8px 8px 8px;
  table-layout: fixed;
  width: 100%;
} */
/* ar */
@layer utilities {
  .head {
    @apply text-[#424242];
  }
  .bodytext {
    @apply text-[#575757];
  }
  .background {
    @apply bg-white;
  }
  .create-bg {
    @apply rounded bg-[#EA580C] p-2 px-2 text-white shadow-md;
  }
  .darkmode {
    @apply dark:text-white;
  }
}
.ar {
  width: 100%;
  height: 100%;
}
.ar td,
th,
tr {
  font-size: 14px;
  padding: 2px;
  border: 1px solid #a0a0a0;
}
.ar th {
  background-color: #32164a;
  color: white;
}
.ar table tr:nth-child(even) {
  background-color: #eeeeee;
}
.ar hr {
  border-color: black;
}

.table-action-anim {
  animation: table-icon-anim 0.3s forwards ease-in-out;
}

@keyframes table-icon-anim {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
